.blogs{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.mark-btn{
    
    width: 100px;
    text-decoration: underline;
    color: blue;
}
.mark-btn:active {
    background-color: brown;
    color: purple;
    
}